<div class="jumbotron">
  <h1 class="display-4">Olá!</h1>
  <p class="lead"> Está é um projeto de avaliação desenvolvido em Ruby on Rails.</p>
  <hr class="my-4">
  <p>Nesta aplicação, temos um gerenciador de vendas. Para começar selecione alguma das opções a baixo:</p>
  <p class="lead">
     <%= link_to "Cadastro dos Clientes", clients_path, class: "btn btn-primary btn-lg", role: "button" %>    
     <%= link_to "Cadastro dos Produtos", products_path, class: "btn btn-primary btn-lg", role: "button" %> 
     <%= link_to "Registro das Vendas", sales_path, class: "btn btn-primary btn-lg", role: "button" %> 
  </p>
</div>


