<h1>Editando Venda</h1>

<%= render 'form', sale: @sale %>

<%= link_to 'Mostrar', @sale, class: "btn btn-primary btn-sm", role: "button" %> |
<%= link_to 'Voltar', sales_path, class: "btn btn-primary btn-sm", role: "button" %>
